body.loginBody {
	text-align: center;
	width: 60%;
}

.loginMenu {
	border-radius: 15px;
	border: 1px solid black;
	text-align: center;
}

.loginHead {
	margin-top: 15px;
	margin-bottom: 15px;
}

form.loginMenu .input {
	margin-top: 15px;
	margin-bottom: 15px;
}

.input {
	width: 250px;
	background-color: papayawhip;
}

div.loginHead {
	margin-top: 15px;
}

.login.button {
	border-radius: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
	width: 250px;
}

div.errorMessage {
	color: red;
}