/*MAIN STYLE SETTINGS*/


body {
    background-color: #FBF7F7;
    color: #5B5B5B;
    font: 1rem Abel, sans-serif;
    line-height: 1.5rem;
    margin: 5%;
    padding: 0;
}

p {
    margin-top: 0;
	text-align: justify;
}

a {
    color: inherit;
    text-decoration: none;
 }

a.link-to-pdf {
    right: 0;
    text-align: right;
    text-decoration-color: #333333;
}

header {
    background-color: #FBF7F7;
    display:  block;
    position: relative;
}

h1 {
    color: #EC4545;
    font:  6rem 'Nova Mono';
    text-align: center;
}

h2 {
    color: #707070;
    font: 2rem 'Abel', sans-serif;
    letter-spacing: 8px;
    text-align: center;
}

h3 {
    font: 1.5rem Abel, sans-serif;
    letter-spacing: 5px;
    color: #707070;
    text-align: center;
    padding-left: 5px;
}


button {
    background-color: #EC4545;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 2px #E1CCCC;
    color: white;
    display: table;
    font-size: 20px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    width: 250px;
}

    button.little-button {
        background-color: #EC4545;
        display:flex;
        margin-bottom: 0;
        margin-top: 0;
        margin-right: 5px;
        padding: 2%;
        text-align: center;

        width: 100px;
        display: inline;

        width: 100px;
    }

    button.little-button.button-to-remove {
        text-align: center;
        margin: auto;
        display: block;
    }

li {
    color: inherit;
    font: 1em Abel, sans-serif;
}

select {
    background: #f1f1f1;
    border-radius: 5px;
    border: 0;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 2px #E1CCCC;
    cursor:pointer;
    font-family: inherit;
    font-size: 1rem;
    margin: auto;
    padding: 5px;
    transition: all .3s ease-in;
    vertical-align: middle;
    /*width: auto;*/
    position: static;
    right: -25em;
    }

table {
    width:100%;
    margin-top: auto;
}

table.two_button_table {
    width:30%;
    margin-top: 10px;
}

    table.team-table {
        width: 100%;
    }

    table th, td {border: 1px solid}

    table th {
    background-color: #e1dfdf;
    color: #333;
    font-size: 1.5rem;
    font-family: inherit;
    padding: 10px;
    }

    table td {
        font: inherit;
        margin: auto;
        padding: 10px;
        width: auto;
    }

    table tr {background-color:#fdfcfc;}

#container {
    display: block;
    flex: 1;
    margin: 0 auto;
    min-width: 230px;
    max-width: 1000px;
    position: relative;
}

.content {
    background-color: #FBF8F8;
    border: 1px solid #E1CCCC ;
    border-radius: 8px;
    padding: 2% 3%;

}

    .content.team {
        border: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
    }

    .content.home {
        display: table;
        width: 80%;
        margin-top: 20px;
    }

    a.aleft {
        float: left;
        width: 45%;
    }

    .logo {
        vertical-align: middle;
    }

label {
    clear: both;
    color: #333;
    font: inherit;
    font-size: 1.5rem;
    margin-right: 10px;
    margin-top: 10px;
    padding: 0;
    text-align: left;
    width: 400px;
}

.little-input {
    width: 100px;
    font-family: inherit;
    font-size: 1.0em;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
    padding: 5px;
    background: #f1f1f1;
    border: 0;
    box-shadow: 2px 2px 2px #E1CCCC;
    transition: all .3s ease-in;
    border-radius: 5px;
}

/*MORE SPECIFIC STYLE SETTINGS*/

/*MENU*/

.solid_component {
    background-color: #FBF7F7;
    left: 10px;
    float: left;
    display: block;
    width:  300px;
}

    .solid_component .welcome_user img {
        border: none;
        margin: auto;
        width: 100%;
        height: 100%;
    }

.menu ul {
    background-color: #FBF7F7;
    color: #333;
    flex: 1;
    height: 100%;
    list-style-type: none;
    margin: auto;
    overflow: auto;
    padding: 5%;
}

    .menu li {
        box-shadow: 5px 5px 2px #E1CCCC;
        text-align: center;
    }

        .menu li a {
            background-color: inherit;
            display: block;
            flex: 1;
            font-size: 1.5rem;
            letter-spacing: 5px;
            padding: 5%;
            text-align: center;
            text-decoration: none;
            }

            .menu li a:hover {
                background-color: #EC4545;
                color: white;
            }

/*LOG IN PAGE*/

.loginBody {
    display: table;
    margin: auto;
    text-align: center;
    width:60%;
}
    .loginBody input {
        background-color: white;
        border: 1px solid #E1CCCC;
        border-radius: 8px;
        box-shadow: inherit;
        box-sizing: border-box;
        color: #808080;
        display: inline-block;
        font: inherit;
        margin: 8px 0;
        padding: 12px 20px;
        width: 60%;
    }

.loginMenu {
    border-radius: 10px;
    border: 1px solid #E1CCCC;
    box-shadow: 2px 2px 2px #E1CCCC;
    text-align: center;
}

.loginHead {
    margin-bottom: 15px;
	margin-top: 15px;
}


.errorLoginMessage {
    font: inherit;
	color: red;
}
.email.input {background-color: #F4B3AD;}

.password.input {background-color: #F4B3AD;}

/*ADD PERSON VIEW*/


.add-person-view {margin: auto;}

.add-person-form { padding: 10px; }

.add-person-form-element {
    display: block;
}

.add-person-form-input {
    background: #f1f1f1;
    border-radius: 5px;
    border: 0;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 2px #E1CCCC;
    font-family: inherit;
    font-size: 1.0em;
    margin: 0px 0px 10px 0px;
    padding: 5px;
    transition: all .3s ease-in;
    width: 300px;
}

    .add-person-form-input:focus {background-color: #D2D3D4;
}

/*TUTAJ SKONCZYLAM, NIE MAM SILY XD ~Ania */
/*proszę to uporządkować. czy te wszystkie klasy są potrzebne?*/

.add-person-form-input.add-person-form-select.mentor-show-students {

    width: 100px;

}

.mentor-give-card .green-card {
    background: red;
}

.mentor-give-card .red-card {
    background: #00FF00;
}

.mentor-give-card .yellow-card {
    background: yellow;
}


.navigation_codecool_class1 ul li{
    display: inline;
}
.navigation_codecool_class1 ul{
    color: #FFE4C4;
    position: relative;
    top: 50px;
}

input[type=date]{
    background: #f1f1f1;
    border-radius: 5px;
    border: 0;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 2px #E1CCCC;
    cursor:pointer;
    margin-bottom: auto;
    padding: 5px;
    transition: all .3s ease-in;
    vertical-align: middle;
    width: 200px;
}

#dateinputatt {
    width: 150px;
}


/*FATEFUL SPINNING BAGEL :///*/

/*TO NAJWIDOCZNIEJ TRZYMA OBWAŻANKA W RYZACH XDDD*/

.header-menu {
    height: 300px;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#codecool-img {
    -moz-animation:spin 16s linear infinite;
    -webkit-animation:spin 16s linear infinite;
    animation:spin 16s linear infinite;
    float:right;
    height: 90%;
    margin: 15px;
    right: 20px;
    top: auto;
    vertical-align: middle;

}

.codecool_krk {
    border-radius: 5px;
    border: 3px solid #333;
    float: right;
    height: 200px;
    margin-left: 10px;
    width: 300px;

}

table.filter_table {
    text-align: center;
    border-style: 0;
}


.submit_assignment_select{
    position: relative;
    float: left;
    margin-left: 0px;
    left: 0;

}

.submission_form li{
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

select.large-select {
    background: white;
    border-radius: 5px;
    border: 0;
    border: 2px solid #ccc;
    box-shadow: 2px 2px 2px #E1CCCC;
    cursor:pointer;
    font-family: inherit;
    font-size: 1.5rem;
    margin: auto;
    padding: 5px;
    position:static;
    transition: all .3s ease-in;
    vertical-align: middle;
    width: 60%;
    right: -25em;
    }

.small {
    height: 25px;
    margin-right: 10px;
    margin-left: 10px;
    width: 25px;
}
#add-person {
    display: none;
}
