{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1> Add new team </h1>
{% endblock %}

{% block solid_component %}
{{ super() }}
{% endblock %}

{% block content %}
       	<section class='content'>
            <form class="add-team-form" name="add-team-form" method="post">
                <label for="new-team-name" class="add-team-form-element">Team name</label><br/>
                <input name="new-team-name" class="add-person-form-input" type="text" placeholder="New Team Name">
                <button type="submit">ADD</button>
            </form>
		</section>
{% endblock %}