<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}"/>
        <title>Codecool Management System</title>
    </head>

    <body>
        <header>
            <h1>Add new team</h1>
        </header>

       	<section class='content'>
            <form class="add-team-form" name="add-team-form" method="post">
                <label for="new-team-name" class="add-team-form-element">Team name</label><br/>
                <input name="new-team-name" class="add-person-form-input" type="text" placeholder="New Team Name">
                <button type="submit">ADD</button>
            </form>
		</section>
    </body>
</html>

