{% extends "layout.html" %}
{% block head %}
{{ super() }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}
{% block header %}
<h1> Check attendance</h1>
{% endblock %}
{% block solid_component %}
{{ super() }}
{% endblock %}
{% block content

{% if session['user_status'] == 'mentor'%}

<label>Date:</label>

    <form action="/students-attendance" method="POST">
    <input name='choose-date' type="date" id="dateinputatt" max="{{current_date}}" required>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Full Name</th>
                <th colspan="3">Status</th>
            </tr>

        {% for student in students %}
        <tr class="border_bottom">

            <td><center><b>{{ loop.index }}</b></center></td>
            <td><b>{{student.name}} {{student.surname}}</b></td>
            <td>
                <input id="radio-present" class="attendance-radio" type="radio" name="{{ loop.index }}" value="Present">
                <label for="radio-present">Present</label>
            </td>
            <td>
                <input id="radio-late" class="attendance-radio" type="radio" name="{{ loop.index }}" value="Late">
                <label for="radio-late">Late</label>
            </td>
            <td>
                <input id="radio-absent" class="attendance-radio" type="radio" name="{{ loop.index }}" value="Absent">
                <label for="radio-absent">Absent</label>
            </td>
            <input type="hidden" value="{{ student.id }}" name="student_id{{ loop.index }}">
        </tr>
        {% endfor %}
    </table>
        <button id="btn" type="submit" value="submit" >SAVE</button>
    </form>


    <script>
$('#btn').click(function(event) {

    var checked = $(".attendance-radio:checked");
    console.log(checked)
    var groups = [];
    $(".attendance-radio").each(function() {
        if (groups.indexOf(this.name) < 0) {
            groups.push(this.name);
        }
    });
    if (groups.length == checked.length) {
    }
    else {
        event.preventDefault();
        var total = groups.length - checked.length;
        alert(total + ' student(s) are not selected');
    }
});
    </script>
{% endif %}
{% endblock %}
