<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}"/>
        <title>Codecool Management System</title>
    </head>

    <body>
        <header>
            <h1>Rename team</h1>
        </header>

       	<section class='content'>
            <form class="add-team-form" name="add-team-form" method="post">
                <label for="login" class="add-team-form-element">New team name</label><br/>
                <input name="name" class="add-person-form-input" type="text" placeholder="{{ team_name }}">
                <button class="add-team-form-button" type="submit">RENAME</button>
          </form>
		</section>
    </body>
</html>

