{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1> Edit team name </h1>
{% endblock %}

{% block solid_component %}
{{ super() }}
{% endblock %}

{% block content %}
       	<section class='content'>
            <form class="add-team-form" name="add-team-form" method="POST">
                <label class="add-team-form-element">New team name</label><br/>
                <input name="name" class="add-person-form-input" type="text" placeholder="{{ old_name }}">
                <button type="submit">RENAME</button>
            </form>
		</section>
{% endblock %}
