<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href= "{{  url_for('static', filename='style.css')  }}">
        <title>Codecool Management System</title>
    </head>

    <body>
        <div w3-include-html="sidebar.html"></div>
        <header>
            <h1>Edit person information</h1>
        </header>


        <section class='content'>
          <section class="section-add-person-form">
          <form class="add-person-form"
                name="add-person-form" method="POST">
            <label for="new_email" class="add-person-form-element"> Email</label>
              <input name="new_email" class="add-person-form-input" placeholder= "{{ old_email }}" required>
            <label for="new_fname" class="add-person-form-element">First name</label>
              <input name="new_fname" class="add-person-form-input" type="text" placeholder="{{ old_name }}">
            <label for="new_lname" class="add-person-form-element">Last name</label>
              <input name="new_lname" class="add-person-form-input" type="text" placeholder="{{ old_surname }}">
			  <button type="submit" name="action">SAVE</button>
         </form>
         </section>
         </section>

    </body>
</html>
