{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1> Get students performance</h1>
{% endblock %}

{% block solid_component %}
{{ super() }}
{% endblock%}

{% block content %}
{% if session['user_status'] == 'mentor'%}
    <a href= "{{  url_for('show_students_grades')  }}">
        <button>Go back</button>
    </a>
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Assignement name</th>
            <th>Sent date</th>
            <th>Grade</td>
        </tr>
        </thead>
    {% for record in performance %}
        <tr>
            <td> {{ loop.index }}</td>
            <td>{{ record[1] }}</td>
            <td>{{ record[0] }}
            <td>{{ record[2]}}</td>
        </tr>
    {% endfor %}
    </table>

{% endif%}
{% endblock %}

    </body>
</html>
