<!doctype html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewpoint" content="witdh=device-width, initial-scale=1"/>
    <link href="https://fonts.googleapis.com/css?family=Abel|Nova+Mono" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/jquery.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/jquery.modal.js') }}" type="text/javascript" charset="utf-8"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.modal.css')  }}" type="text/css" media="screen"/>
    <link rel="icon" href="{{ url_for('static', filename='pictures/icon.png')}}">
    <title>Codecool Management System</title>
    {% endblock %}
</head>

  <body>
      {% block solid_component %}
      <aside class='solid_component'>

          <div class='welcome_user'>
               <img src="{{url_for('static', filename='pictures/icon.png')}}" alt="User"/>
              <h3> Logged as {{ user }} </h3>


            {% if session['user_status'] == 'student'%}
                  <div class='menu'>
                      {% block student_menu %}
                  <ul>
                      <li><a href="{{ url_for('home') }}">Home</a></li>
                      <li><a href="{{ url_for('students_attendance')  }}">Attendance</a></li>
                      <li><a href="{{ url_for('assignments_list')  }}">Assignments</a></li>
                      <li><a href="{{ url_for('show_students_grades') }}">Grades</a></li>
                      <li><a href="{{ url_for('logout')  }}">Log out</a></li>
                  </ul>
                  </div>
              </div>
                    {% endblock%}


            {% elif session['user_status'] == 'mentor'%}
            <div class='menu'>
                {% block mentor_menu %}
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('students_list') }}">Students</a></li>
                <li><a href="{{ url_for('show_students_grades') }}">Students grades</a></li>
                <li><a href="{{ url_for('teams_list')  }}">Teams</a></li>
                <li><a href="{{ url_for('students_attendance')  }}">Attendance</a></li>
                <li><a href="{{ url_for('assignments_list')  }}">Assignments</a></li>
                <li><a href="{{ url_for('submissions_list')  }}">Submissions</a></li>
                <li><a href="{{ url_for('logout')  }}">Log out</a></li>
            </ul>
            </div>
        </div>
            {% endblock %}


            {% elif session['user_status'] == 'manager'%}
            <div class='menu'>
                {% block manager_menu %}
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('students_list')  }}">Students</a></li>
                <li><a href="{{ url_for('mentors_list')  }}">Mentors</a></li>
                <li><a href="{{ url_for('logout')  }}">Log out</a></li>
            </ul>
            </div>
        </div>
                {% endblock %}

            {% elif session['user_status'] == 'employee'%}
            <div class='menu'>
                {% block employee_menu %}
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('students_list')  }}">Students</a></li>
                <li><a href="https://allegro.pl/listing?string=papier%20toaletowy&order=p&bmatch=s0-hou-1-4-0203">Get toilet paper</a></li>
                <li><a href="{{ url_for('logout')  }}">Log out</a></li>
            </ul>
            </div>
        </div>
                {% endblock %}

        {% endif%}
        {% endblock %}
    </aside>

    <div id="container">
        {% block container %}

        <header class="header-menu">
            {% block header %}
            {% endblock %}
        </header>


        <div class="content">
            {% block content %}
            {% endblock %}
        </div>

    {% endblock %}
    </div>


  </div>


  </body>
</html>
