<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}"/>
        <title>Codecool Management System</title>
    </head>

    <body>
        <header>
            <h1>List of students</h1>
        </header>

        <section class='content'>
        <form class="add-person-form" name="add-person-form" action="/add_student">
            <a>
                <button class="add-person-form-button right" value="send">Add a new student</button>
            </a>
        </form>

            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
            {% for student in students %}
            <tr class="person_to_show">
                <td>{{ loop.index }}</td>
                <td>{{ student.name }} {{ student.surname }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="{{  url_for('edit_student', student_id=student.id)  }}">| Edit</a>
                    <a href="{{  url_for('remove_student', student_id=student.id)  }}">
                    | Remove |</a>

                    <form method="post">
                        <select class="add-person-form-input add-person-form-select mentor-show-students" name="select-team">
                            <option selected>{{ student.team }}</option>
                                {% for team in teams %}
                                    <option>{{ team }}</option>
                                    {% endfor %}
                        </select>
                        |
                        <select class="add-person-form-input add-person-form-select mentor-show-students mentor-give-card" name="select-card">
                            <option selected>{{ student.card }}</option>
                                {% for card in cards %}
                                    <option name="card">{{ card }}</option>
                                    {% endfor %}
                        </select>
                        <input type="hidden" value="{{ student.id }}" name="student_id">
                        <button class="little-button" type="submit">Update</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>

        </section>
    </body>
</html>
