{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1> List of students</h1>
{% endblock %}


{% block solid_component %}
{{ super() }}
{% endblock%}

{% block content %}

{% if session['user_status'] == 'mentor'%}

<a href="#add-person" rel="modal:open">
    <div id="add-person">
        <form class="add-person-form"
            name="add-person-form" method="POST" action="{{ url_for('add_student')}}">
                <input id="email" name="email" email="email" class="add-person-form-input"
                placeholder="EMAIL" name="email">
                <input id="name" name="fname" class="add-person-form-input" type="text" placeholder="FIRST NAME">
                <input id="lname" name="lname" class="add-person-form-input" type="text" placeholder="LAST NAME">
            <button>SAVE</button>
        </form>
    </div>
    <button class="add-person-form-button right">Add a new student</button>
</a>

    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        </thead>
    {% for student in students %}
    <tr class="person_to_show">
        <td>{{ loop.index }}</td>
        <td>{{ student.name }} {{ student.surname }}</td>
        <td>{{ student.email }}</td>
        <td>
            <a href="#edit-person-{{student.id}}" rel="modal:open">
                <div class="edit-person" id="edit-person-{{student.id}}">
                    <form method="POST" action="{{ url_for('edit_student', student_id=student.id) }}" class="add-person-form" name="add-person-form">
                      <input name="new_email" class="add-person-form-input" value= "{{ student.email }}" required>
                      <input name="new_fname" class="add-person-form-input" type="text" value="{{ student.name }}">
                      <input name="new_lname" class="add-person-form-input" type="text" value="{{ student.surname }}">
                      <button type="submit">SAVE</button>
                    </form>

               </div>
                <img class="small" src="{{ url_for('static', filename='pictures/edit.png')}}">
            </a>


            <a href="{{  url_for('remove_student', student_id=student.id)  }}">
            <img class="small" src="{{ url_for('static', filename='pictures/trash.png')}}">
            </a>

            <form method="post">
                <select class="add-person-form-input add-person-form-select mentor-show-students" name="select-team">
                    <option selected>{{ student.team }}</option>
                        {% for team in teams %}
                            <option>{{ team }}</option>
                            {% endfor %}
                </select>
                |
                <select class="add-person-form-input add-person-form-select mentor-show-students mentor-give-card" name="select-card">
                    <option selected>{{ student.card }}</option>
                        {% for card in cards %}
                            <option name="card">{{ card }}</option>
                            {% endfor %}
                </select>
                <input type="hidden" value="{{ student.id }}" name="student_id">
                <button class="little-button" type="submit">Update</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>

{% elif session['user_status'] == 'employee' or session['user_status'] == 'manager' %}
    <table>
        <thead>
        <tr>
            <th>#</th>
            <th>Full name</th>
            <th>Email</th>
            <th>Team</th>
        </tr>
        </thead>
    {% for student in students %}
    <tr class="person_to_show">
        <td>{{ loop.index }}</td>
        <td>{{ student.name }} {{ student.surname }}</td>
        <td>{{ student.email }}</td>
        <td>{{ student.team }}</td>
    </tr>
    {% endfor %}
</table>
{% endif%}


{% endblock %}
