<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}"/>
        <title>Codecool Management System</title>
    </head>

    <body>
        <header>
            <h1>List of mentors</h1>
        </header>

        <section class='content'>

            <a href="add.html">
                <button class="add-person-form-button right" type="button" value="send">Add a new mentor</button>
            </a>


            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
            {% for mentor in mentors %}
            <tr class="person_to_show">
                <td>{{ loop.index }}</td>
                <td>{{ mentor.name }} {{ mentor.surname }}</td>
                <td>{{ mentor.email }}</td>
                <td>
                    <a href="{{  url_for('edit_mentor', mentor_id=mentor.id)  }}">| Edit</a>
                    <a href="{{  url_for('remove_mentor', mentor_id=mentor.id)  }}">
                    | Remove |</a>


            {% endfor %}

        </table>
            <a href="#">
                <button class="add-person-form-button right" type="submit" value="send">Submit</button>
            </a>
        </section>
    </body>
</html>
