{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block header %}
<h1> List od mentors</h1>
{% endblock %}

{% block solid_component %}
{{ super() }}
{% endblock%}

{% block content %}

{% if session ['user_status'] == 'manager' %}
<a href="#add-person" rel="modal:open">
    <div id="add-person">
        <form class="add-person-form"
            name="add-person-form" method="POST" action="{{ url_for('add_mentor')}}">
                <input id="email" name="email" email="email" class="add-person-form-input"
                placeholder="EMAIL" name="email">
                <input id="name" name="fname" class="add-person-form-input" type="text" placeholder="FIRST NAME">
                <input id="lname" name="lname" class="add-person-form-input" type="text" placeholder="LAST NAME">
            <button>SAVE</button>
        </form>
        <script type="text/javascript" src="static/js/validation.js"></script>
    </div>
    <center>
        <button class="add-person-form-button right">Add a new mentor</button>
    </center>
</a>


            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
            {% for mentor in mentors %}
            <tr class="person_to_show">
                <td>{{ loop.index }}</td>
                <td>{{ mentor.name }} {{ mentor.surname }}</td>
                <td>{{ mentor.email }}</td>
                <td>
                    <a href="#edit-person-{{mentor.id}}" rel="modal:open">
                        <div class="edit" id="edit-person-{{mentor.id}}">
                            <form method="POST" action="{{ url_for('edit_mentor', mentor_id=mentor.id) }}" class="add-person-form" name="add-person-form">
                              <input name="new_email" class="add-person-form-input" value= "{{ mentor.email }}" required>
                              <input name="new_fname" class="add-person-form-input" type="text" value="{{ mentor.name }}">
                              <input name="new_lname" class="add-person-form-input" type="text" value="{{ mentor.surname }}">
                              <button type="submit">SAVE</button>
                            </form>

                            </div>
                     <img class="small" src="{{ url_for('static', filename='pictures/edit.png')}}">
                    </a>

                    <br>
                    <a href="{{  url_for('remove_mentor', mentor_id=mentor.id)  }}">
                        <img class="small" src="{{ url_for('static', filename='pictures/trash.png')}}">
                    </a>
                </td>
            {% endfor %}
        </table>
{% endif%}
{% endblock %}
