{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block header %}
<h1>Assignments</h1>
{% endblock %}
{% block solid_component %}
{{ super() }}
{% endblock%}
{% block content %}

{% if session['user_status'] == 'mentor'%}



<a href="#add-assignment" rel="modal:open">

    <center>
    <button>Add a new assignment</button>
    </center>

</a>


{% endif %}

       <table>
           <thead>

               <tr>
                   <th>#</th>
                   <th>Name</th>
                   <th>Link</th>
                   <th>Start date</th>
                   <th>End date</th>
                   {% if session['user_status'] == 'student' %} <th>Action</th> {% endif %}
               </tr>

           </thead>
           <tbody>


               <tr class="person_to_show">
                    {% for assignment in assignments %}
                   <td>{{ loop.index }}</td>
                   <td>{{assignment.assignment_name}}</td>
                   <td>{{assignment.link}}</td>
                   <td>{{assignment.start_date}}</td>
                   <td>{{assignment.end_date}}</td>
                   {% if session['user_status'] == 'student'%}<td>
                       <form method="post"

                   action="/submit_form">
                   <input type="hidden" value="{{assignment.assignment_name}}" name="submission_name">
                   <input type="hidden" value="{{assignment.link}}" name="submission_link">
                   <input type="hidden" value="{{assignment.start_date}}" name="submission_start_date">
                   <input type="hidden" value="{{assignment.end_date}}" name="submission_end_date">
                       <button class='little-button' name="select_submit_assignment"
                       type="submit" value="send">Submit</button>
                       </form>
                   </td>
                   {% endif %}
               </tr>
                    {% endfor %}
           </tbody>
       </table>

    <div id="add-assignment">

            <form name="add-person-form" method="POST" action="{{ url_for('add_assignment')}}">
                <label for="start_date" class="add-person-form-element">Start date</label>
                    <input name="start_date" class="add-person-form-input width100"
                    placeholder="Start date" type="date" name="start_date" style="width:100%;" required>
                <br><br>
                <label for="end_date" class="add-person-form-element">End date</label>
                    <input name="end_date" class="add-person-form-input width100" type="date" placeholder="End date" required>
                <br><br>
                <label for="assignment_name" class="add-person-form-element">Assignment name</label>
                    <input name="assignment_name" class="add-person-form-input width100" type="text" placeholder="Assignment name" required>
                <br><br>
                <label for="assignment_link" class="add-person-form-element width100">Link</label>
                    <input name="assignment_link" class="add-person-form-input width100" type="text" placeholder="Link" required>
                <br><br>
                <button>SAVE</button>
            </form>

    </div>


{% endblock %}
