{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1> Students grades</h1>
{% endblock %}

{% block solid_component %}
{{ super() }}
{% endblock%}

{% block content %}
    {% if session['user_status'] == 'mentor'%}

            <thead>
            <tr>
                <th>Full name</th>
                <th>Email</th>
                <th>Card</th>
                <th>Average</td>
                <th>Performance</th>
            </tr>
            </thead>
        {% for student in students %}
            {% for key, value in grades.items() %}
                {% if student.id == key %}
        <tr class="person_to_show">
            <td>{{ student.name }} {{ student.surname }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.card  }}</td>
            <td> {{ value }} </td>
            <td>
                <form class='performance' method='POST'>
                    <label for="start_date">Start date</label>
                    <input class='little-select' id="start_date" name='start_date' type='date'><br/>
                    <label for="end_date">End date</label>
                    <input class='little-select' name='end_date' type='date'>
                    <input type='hidden' value="{{  student.id }}" name='student_id'>
                    <br>
                    <br>
                    <button class='little-button' type='submit'>show</button>

                </form>
        </tr>
                {% endif %}
            {% endfor %}
        {% endfor %}

    {% elif session['user_status'] == 'student'%}
    <h2>General overview</h2>
        <table>
            <thead>
            <tr>
                <th>Full name</th>
                <th>Card</th>
                <th>Average</td>
            </tr>
            </thead>

        {% for student in students %}
            {% if student.id == user_id %}
                {% for key, value in grades.items() %}
                    {% if student.id == key %}
            <tr class="person_to_show">
                <td>{{ student.name }} {{ student.surname }}</td>
                <td>{{ student.card  }}</td>
                <td> {{ value }} </td>
            </tr>
                    {% endif %}
                {% endfor %}
            {% endif%}
        {%endfor%}
    {% endif%}

        </table>
        <a href="{{ url_for('show_all_grades')}}">
        <center>
            <button type="button" name="button">Show all grades</button>
        </center>
        </a>
{% endblock %}
    </body>
</html>
