<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}"/>
        <title>Codecool Management System</title>
    </head>

    <body>
        <header>
            <h1>List of students</h1>
        </header>

        <section class='content'>

            <a href="add.html">
                <button class="add-person-form-button right" type="button" value="send">Add a new student</button>
            </a>


            <table>
                <thead>
                <tr>
                    <th>#</th>
                    <th>Full name</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>
                </thead>
            {% for student in students %}
            <tr class="person_to_show">
                <td>{{ loop.index }}</td>
                <td>{{ student.name }} {{ student.surname }}</td>
                <td>{{ student.email }}</td>
                <td>
                    <a href="edit_person_data.html">| Edit</a>
                    | Remove |
                    <select class="add-person-form-input add-person-form-select mentor-show-students" name="select-class">
                    <option selected>Team</option>
                        <option>group1</option>
                        <option>group2</option>
                        <option>group3</option>
                    </select>
                                        |

                    <select class="add-person-form-input add-person-form-select mentor-show-students mentor-give-card" name="select-class">
                        <option selected>Card</option>
                        <option class="green-card">Red</option>
                        <option class="red-card">Green</option>
                        <option class="yellow-card">Yellow</option>
                  </select>
                </td>
            </tr>
            {% endfor %}

        </table>
            <a href="#">
                <button class="add-person-form-button right" type="submit" value="send">Submit</button>
            </a>
        </section>
    </body>
</html>
