<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="{{  url_for('static', filename='style.css')  }}"/>
        <title>Codecool Management System</title>
    </head>

    <body>
        <header>
            <h1>All submissions</h1>
        </header>
        
        <section class="content">
            <h2>
                Total: <em> average %</em>
            </h2>
            <label for="select-class">Choose assignment: </label>
            
            
            <form  method="post" action="/submissions">
                <select name="select-submission" class="select_submission1">
                    <option selected>--select--</option>
                        {% for opt in options %}
                            <option value="{{ opt }}">{{ opt }}</option>
                        {% endfor %}
                </select>
                    <button  class="select_button_filter" type="submit" value="send">Filter</button>
            </form>

            <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Submission name</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Github link</th>
                    <th>Grade</th>
                    <th>Action</th>
            </thead>
                {% if option == select_option %} 
                {% for submission in submissions %}
                <tr class="person_to_show">
                    <td>{{ loop.index }}</td>
                    <td>{{ submission.name }}</td>
                    <td>{{ submission.send_date }}</td>
                    {% for student in students %}
                        {% if student.id == submission.student_id %}
                            <td>{{ student.name }} {{ student.surname }}</td>
                            {% endif %}
                        {% endfor %}
                    <td>{{ submission.github_link}}</td>
                    <td>{{ submission.grade }}</td>
                    <td><label for="grade">Grade</label>
                        <input name="grade" class="little-input" type="text">
                    </td>
                </tr>
                {% endfor %}                         
                {% else %}


                {% for submission in submissions %}             
                {% if submission.name == option %}
                <tr class="person_to_show">
                    <td>{{ loop.index }}</td>
                    <td>{{ submission.name }}</td>
                    <td>{{ submission.send_date }}</td>
                    {% for student in students %}
                        {% if student.id == submission.student_id %}
                            <td>{{ student.name }} {{ student.surname }}</td>
                            {% endif %}
                        {% endfor %}
                    <td>{{ submission.github_link}}</td>
                    <td>{{ submission.grade }}</td>
                    <td><label for="grade">Grade</label>
                        <input name="grade" class="little-input" type="text">
                    </td>
                </tr>                
                {% endif %}
                {% endfor %}
                 {% endif %}
        	</table>
            <button type="save">SAVE GRADES</button>
    	<br>
        </section>
    </body>
</html>
