{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1>Submission form</h1>
{% endblock %}


{% block solid_component %}
{{ super() }}
{% endblock%}

{% block content %}

{% if session['user_status'] == 'student'%}

    <form class="Submission_form"
    method="POST" action='/submit_assignment/{{user_id}}'>
    <table>
        <tr><td>Submission name</td><td>{{sub_name}}</td></tr>
        <tr><td>Submission link</td>
            <td><input name="submission_link" type="text" required> </td></tr>
        <tr><td>Submit as:</td>
            <td>
                <select class ="submit_assignment_select" name="select_form">
                <option value="Submit assignment">Submit assignment</option>
                <option value="Submit as a team">Submit as a team</option>
                </select>
            </td>
        </tr>
        </table>
        <br/>
            <a><button type="submit" name="submit_as_one">Submit</button></a>



        <input type="hidden" value="{{sub_name}}" name="submission_name">
        <input type="hidden" value="{{sub_start_date}}" name="submission_start_date">
        <input type="hidden" value="{{sub_end_date}}" name="submission_end_date">


    </form>
{% endif%}
{% endblock %}
