{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block header %}
<h1> All submissions</h1>
{% endblock %}

{% block solid_component %}
{{ super() }}
{% endblock%}

{% block content %}
            <h2>
                Total: <em> average %</em>
            </h2>
            <label for="select-class">Choose assignment: </label>
            <form  method="post" action="/submissions">
                <select name="select-submission" class="select_submission1">
                    <option selected>--select--</option>
                        {% for opt in options %}
                            <option value="{{ opt }}">{{ opt }}</option>
                        {% endfor %}
                </select>
                    <button  class="select_button_filter" type="submit" value="send">Filter</button>
            </form>

            <table>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Submission name</th>
                    <th>Date</th>
                    <th>Name</th>
                    <th>Github link</th>
                    <th>Grade</th>
                    <th>Action</th>
            </thead>
                {% if option == select_option %}
                {% for submission in submissions %}
                <tr class="person_to_show">
                    <td>{{ loop.index }}</td>
                    <td>{{ submission.name }}</td>
                    <td>{{ submission.send_date }}</td>
                    {% for student in students %}
                        {% if student.id == submission.student_id %}
                            <td>{{ student.name }} {{ student.surname }}</td>
                            {% endif %}
                        {% endfor %}
                    <td>{{ submission.github_link}}</td>
                    <td>{{ submission.grade }}</td>
                    <td>
                        <form method="POST" action="/update_grade" name="grade">
                            {% for student in students %}
                                {% if student.id == submission.student_id %}
                                    <input type="hidden" value="{{ student.id }}" name="student_id">
                                    <input type="hidden" value="{{ submission.name }}" name="submission_name">
                                    <input name="grade" class="little-input" type="text">
                                    <button class="little-button" type="submit">Grade</button>
                            {% endif %}
                            {% endfor %}
                        </form>
                    </td>
                </tr>
                {% endfor %}
                {% else %}
                {% for submission in submissions %}
                {% if submission.name == option %}
                <tr class="person_to_show">
                    <td>{{ loop.index }}</td>
                    <td>{{ submission.name }}</td>
                    <td>{{ submission.send_date }}</td>
                    {% for student in students %}
                       {% if student.id == submission.student_id %}
                            <td>{{ student.name }} {{ student.surname }}</td>
                            {% endif %}
                       
                        {% endfor %}
                    <td>{{ submission.github_link}}</td>
                    <td>{{ submission.grade }}</td>
                    <td>
                        <form method="POST" action="/update_grade" name="grade">
                            {% for student in students %}
                                {% if student.id == submission.student_id %}
                                    <input name="grade" class="little-input" type="text">
                                    <input type="hidden" value="{{ student.id }}" name="student_id">
                                    <button class="little-button" type="submit">Grade</button>
                            {% endif %}
                            {% endfor %}
                        </form>
                    </td>
                </tr>
                {% endif %}
                {% endfor %}
                 {% endif %}
        	</table>
    	<br>
{% endblock %}