{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}

{% block header %}
<h1> List of teams </h1>
{% endblock %}

{% block solid_component %}
{{ super() }}
{% endblock %}

{% block content %}
{% if session['user_status'] == 'mentor'%}
        <section class='content team'>
            <a href="{{ url_for('add_team') }}">
                <button class="add-team" type="button" value="send">Add a new team</button>
            </a>
            <table class="team-table">
                {% for team in teams %}
                <thead>
                    <tr>
                        <th>{{ loop.index }}</th>
                        <th>{{ team.name }}
                            <a href="{{ url_for('edit_team_name', team_id=team.id) }}"><img class="small" src="{{ url_for('static', filename='edit.png')}}"></a>
                            <a href="{{ url_for('remove_team', team_id=team.id)}}"><img class="small" src="{{ url_for('static', filename='trash.png')}}"></a>
                        </th>
                    </tr>
                </thead>
                    {% for student in students %}
                        {% if student.team == team.name %}
                            <tr>
                                <td><a href="{{ url_for('remove_student_from_team', student_id=student.id) }}" >
                                    Remove</a></td>
                                <td>{{ student.name }} {{ student.surname }}</td>
                            </tr>

                            {% endif %}
                        {% endfor %}
                    {% endfor %}
            </table>
        </section>
{% endif %}
{% endblock %}
